.prose a {
  text-decoration: none;
  border-bottom: 2px solid #EA580C;
}

article.oppgave {
  padding: 1.25rem;
  border-radius: 0.5rem;
  border: solid 0.15rem #EA580C;
}

.prose a:hover {
  text-decoration: none;
  background: #EA580C;
  color: white;
}

img.rounded {
  border-radius: 50%;
}

img.filter {
filter: grayscale(100%);
}

img.updown {
  rotate: 180deg;
}
img.rotate {
  transition: transform .7s ease-in-out;
}
img.rotate:hover {
  transform: rotate(360deg);
}