---
import Section from './Section.astro';

---

<Section>
	<footer class="text-center">
		  <a class="underline hover:text-orange-600" href="http://knowit.no" target="_blank">knowit</a>
	</footer>
</Section>